

.Partners{
    width: 95%;

    margin: 0px auto 100px auto;
    // margin-bottom: 100px;
    padding: 0px 50px ; 
    
.services-design{
    justify-content: center;
    align-items: center;
    height: 100%;
    
    .swiper{

  .Partner{
            height: 100%;
            padding: 0 30px;
            .partner-logo{
                width: 250px;
                height: 250px;
                display: flex;
                align-items: center;
                z-index: 666;
                justify-content: center;
                border-right: 1px solid #CACACA;
                
                .img1{
                    width: 160px;
                    height: 45px;
                }
                .img2{
                    width: 147px;
                    height: 37px;
                }
                .img3{
                    width: 64px;
                    height: 92px;
                }
                .img4{
                    width: 243px;
                    height: 97px;
                }
            }
           
        }
   
        .swiper-button-next,.swiper-button-prev {
            position: absolute;
            top: 47%;
            right: -8px;
            display: flex;    
            justify-content: center;
            align-items: center;
            cursor: pointer;
            z-index: 9999999;                
            border: none;
           width: 40px;
height: 40px;
           border-radius: 50%;
           background-color: #FFFFFF;
            transition: all .5s;
            i{
                font-size: 20px;
                color: #06B2BB;
            }
    
        }
        .swiper-button-prev{
    left: 1%;
        }
    
        .swiper-button-prev:after ,.swiper-button-next:after{
            content:"";
            text-transform: none;
            letter-spacing: 0;
            font-variant: initial;
            line-height: 1;
            
            
            
        }
        .swiper-button-disabled{
            opacity: 1;
        }
       
    //     .project{
           
    // .image{
    //     position: relative;
    //     width: 321.66px;
    //         height: 333px;
    //         padding:0px 10px;
    //      overflow: hidden;
         
    //     img{
    //         width: 100%;
    //         height: 100%;
    // }
    // .favorite{
    //     position: absolute;
    //     top: 3%;
    //     right:5%;
    //     display: flex;
    //     justify-content: center;
    //     align-items: center;
    //    width: 45px;
    //    height: 45px;
    //    border-radius: 50%;
    //    background-color: #FFFFFF;
    //     i{
    //        font-size: 27px;
    //        color: #06B2BB;
    //     }
    //    }
          
               
    //         }
    
    //         .design-info{
    //             text-align: left;
    //             font-style: Medium;
    //             font-size: 24px;
    //             line-height: 36px;
    //             line-height: 100%;
    //             color: #000000;
    //             font-weight: 500;
    //             margin: 20px 0 20px 0;
    //             padding-left: 10px;
    //         }
    //         span{
    //             font-family: 'Poppins';
    //             font-style: normal;
    //             font-weight: 500;
    //             font-size: 16px;
    //             line-height: 16px;
    //             color: #898989;
    //             padding-left: 10px;
    //         }
    //         p{
    //             font-family: 'Poppins';
    //             font-style: normal;
    //             font-weight: 400;
    //             font-size: 14px;
    //             line-height: 16px;
    //             color: #06B2BB;
    //             margin-bottom: 20px;
    //             padding-left: 10px;
    //         }
         
    
    //        } 
           
       
       
          
    }
.right{
    position: absolute;
    top: 50%;
    right: 5%;
}
.swiper-button-next,.swiper-button-prev {
    position: absolute;
    top: 47%;
    right: 1%;
    display: flex;    
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 9999999;                
    border: none;
   width: 40px;
height: 40px;
   border-radius: 50%;
   background-color: #FFFFFF;
    transition: all .5s;
    i{
        font-size: 20px;
        color: #06B2BB;
    }

}
.swiper-button-prev{
left: 1%;
}

.swiper-button-prev:after ,.swiper-button-next:after{
    content:"";
    text-transform: none;
    letter-spacing: 0;
    font-variant: initial;
    line-height: 1;
    
    
    
}
.swiper-button-disabled{
    opacity: 1;
}

}

}



    
.design-info{
    text-align: left;
    font-style: Medium;
    font-size: 24px;
    line-height: 36px;
    line-height: 100%;
    color: #000000;
    font-weight: 500;
    margin: 0 0 20px 0;
}
.partaners-text{
    text-align: center;
    font-style: normal;
font-weight: 500;
font-size: 30px;
line-height: 16px;
color: #06B2BB;
margin-bottom: 80px;
}