
 .signup-form{
          
          input{
            margin-bottom: 16px;
            color: #898989;
            font-size: 14px;
            padding: 10px 20px;
          }
          label{
            text-align: start;
          font-weight: 500;
font-size: 14px;
line-height: 21px;
color: #06B2BB;
          }
          .check-lebal{
            font-weight: 400;
font-size: 12px;
line-height: 16px;
color: #898989;
span{
  color: #FDD219;
}
          }
          .form-check{

            margin-bottom: 30px;
            .form-check-input{
              padding: 0;
              width: 20px;
              height: 20px;
              border: 1px solid #06B2BB;
              border-radius: 5px;
              
            }
    
          }
//           .image-input{
//             width: 131px;
//             height: 130px;
//             border: 1px dashed #CACACA;
// border-radius: 20px;
// margin-bottom: 30px;
//           }

//           #file-upload-button{
//             background-color: #FDD219;
//             color: #06B2BB;
//           }
        }
        