h2{
  color: #000;
font-size: 40px;
font-style: normal;
font-weight: 600;
line-height: normal;
margin-bottom: 0px;
}
p{
  color:#898989;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 26px;
}
 .services-page{
  width: 100%;
  // .form-check{
  //   width: 217px;
  //   padding-left: 0px;
  //   .label{
  //     width: 100%;
  //   }
  // }

  .service{
    // width: 100%;
//     width: 217px;
height: 139px;
border-radius: 4.961px;
border: 0.827px dashed  #06B2BB;
background: #FFF;
display: flex;
gap: 24px;
justify-content: center;
align-items: center;
img{
  width: 48px;
height: 48px;
}
h3{
  color:  #06B2BB;
font-size: 11.575px;
font-style: normal;
font-weight: 600;
line-height: normal;

}
  }
 }
        