.menu{
    width: 100%;
    position: relative;
    bottom: 0%;
    left: 0%;
    z-index: 100000;
    display: flex;
    justify-content: center;
    flex-direction: column;
    
    .line{
        width: 100%;
height: 11px;
background-color: #FDD219;
    }
    .service{
        h3{
            color: #06B2BB;
            font-weight: 500;
            font-size: 14px;
            line-height: 16px;
            margin-bottom: 10px;
        }
        
            p{
                font-weight: 400;
                font-size: 10px;
                line-height: 16px;
                 text-align: justify;
                 color: #898989;
              } 

              img{
                width: 47.99px;
                height: 48px;
                margin-bottom: 16px;
              }
    
    }
    span{
        text-align: center;
        display: block;
        color: #06B2BB;
        font-size: 18px;
        font-weight: 600;
        margin: 40px 0;
    }
 }